<strong>Olá, {{ entregador }}</strong>
<p>Temos uma encomenda aguardando a retirada para entrega:</p>
<p>
  <strong>Produto: </strong> {{ produto }} <br />
  <small>
    O horário comercial para retirada.
  </small>
</p>
